{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RUTRONIX - Online Courses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="facebook-domain-verification" content="4gvnf0c40ylpcwp97j2q7qwkr7vzjd" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icon/Logo White-svg (1).svg' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/floating-wpp.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJNQG3V');</script>
    <!-- End Google Tag Manager -->


</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJNQG3V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="myDiv">

	</div>


    <!-- header-start -->
    <header class="header-transparent">
        <div id="sticky-header" class="main-menu-area menu-padding pl-55 pr-55">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-7 col-md-6 col-8">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/Logo Black.svg' %}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="main-menu text-left ml-15 text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="#">Eduskilling</a></li>
                                    <li><a href="#">Courses <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="{% url 'software' %}">Software</a>
                                            <li><a href="{% url 'hardware' %}">Hardware</a>
                                            <li><a href="{% url 'multimedia' %}">Multimedia</a>
                                        </ul>
                                    </li>
                                    <li><a href="#">Edu Centers <i class="far fa-angle-down"></i></a>
                                        <!--
										<ul class="sub-menu text-left">
                                            <li><a href="#">Events</a>
                                            <li><a href="#">Events Details</a>
                                        </ul>
										-->
                                    </li>
                                   <!-- <li><a href="">News <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="">Blog Grid</a></li>
                                            <li><a href="">Blog Sidebar</a></li>
                                            <li><a href="">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Pages <i class="far fa-angle-down"></i></a>
                                        <ul class="sub-menu text-left">
                                            <li><a href="{% url 'about' %}">About</a>
                                            <li><a href="">Team</a>
                                            <li><a href="#">Team Details</a>
                                            <li><a href="faq.html">Faq</a>
                                        </ul>
                                    </li>  -->
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-6 col-4">
                        <div class="header-right d-sm-flex align-items-center justify-content-end">
                            <div class="header-icon d-none d-md-inline-block">
                               <!-- <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>  -->
                            </div>
                            <div class="header-sing d-none d-md-inline-block">
                                <a href="#">Sign up/Log in <i class="far fa-user-circle"></i></a>
                            </div>
                            <div class="hamburger-menu menu-bar info-bar">
                                <a href="#"><i class="fal fa-bars"></i><!--<img src="{% static 'assets/img/icon/bar.png" alt="">--></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-start -->
    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="close-mobile-menu">
            <a href="javascript:void(0);"><i class="fal fa-times"></i></a>
        </div>

        <!-- offset-sidebar start -->
        <div class="offset-sidebar">
            <div class="offset-widget offset-logo mb-30">
                <a href="{% url 'index' %}">
                    <img src="{% static 'assets/img/logo/Logo White.svg' %}" alt="logo">
                </a>
            </div>
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <h4 class="offset-title mb-20">About Us</h4>
                    <p class="mb-30">
                       KERALA STATE RUTRONIX was set up by the Govt. of Kerala, in 1990 as the apex body of 18 Rural Women's Electronics Industrial Co-operative Societies in the state.
                    </p>
                    <a class="c-btn btn-round-02" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </div>
            <div class="offset-widget mb-30 pr-10">
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Contact Info</h4>
                    <p> <i class="fal fa-address-book"></i> Kerala State Rutronix<br>
															C-11, Padmasree, Elankom Gardens<br>
															Sasthamanagalam.P.O<br>
															Thiruvananthapuram-10, Kerala</p>
                    <p> <i class="fal fa-phone"></i> +91 9072 6454 03 </p>
                    <p> <i class="fal fa-envelope-open"></i> rutronixeduskilling@gmail.com </p>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->

        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu">
            <ul id="mobile-menu-active">
                <li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="#">Eduskilling</a></li>
                <li class="has-dropdown"><a href="#">Courses</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'software' %}">Software</a>
                        <li><a href="{% url 'hardware' %}">Hardware</a>
                        <li><a href="{% url 'multimedia' %}">Multimedia</a>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Edu Centers</a>
                    <ul class="sub-menu">
					<!--

                        <li><a href="events.html">Events List</a></li>
                        <li><a href="events-details.html">Events Details</a></li>

						-->
                    </ul>
                </li>
				<!--
                <li class="has-dropdown"><a href="#">Blogs</a>
                    <ul class="sub-menu">
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-side.html">Blog Sidebar</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
				-->
				<!--
                <li class="has-dropdown">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About</a>
                        <li><a href="team.html">Team</a>
                        <li><a href="team-details.html">Team Details</a>
                        <li><a href="faq.html">Faq</a>
                    </ul>
                </li>
				-->
                <li><a href="{% url 'contact' %}">Contacts</a></li>
            </ul>
        </nav>
        <!-- side-mobile-menu end -->
    </aside>
    <div class="body-overlay"></div>
    <!-- slide-bar end -->

    <main>
        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url({% static 'assets/img/bg/page-title-bg-01.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="page-title text-center">
                            <h1>Contact Us</h1>
                            <div class="breadcrumb">
                                <ul class="breadcrumb-list">
                                    <li><a href="{% url 'index' %}">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a class="active" href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->
        <!--cta-area start-->
        <section class="cta-area grey-bg pt-130 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="cta-content mb-30">
                            <div class="section-title text-left mb-20 pr-160">
                                <span><i class="fal fa-ellipsis-h"></i> Quick Contact</span>
                                <h2 class="rutronix">KERALA STATE RUTRONIX</h2>
                            </div>
                            <ul class="contact-list mb-40">
                                <li>
                                    <div class="cta-box d-flex align-items-center mb-20">
                                        <div class="cta-icon">
                                            <i class="fal fa-map-marker-alt"></i>

                                        </div>
                                        <div class="cta-text">
                                            <!--<h6>Locations</h6>-->
                                            <span>C-11, Padmasree, Elankom Gardens<br>
                                                Sasthamanagalam P.O<br>
                                                Trivandrum-10, Kerala, India</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cta-box d-flex align-items-center mb-20">
                                        <div class="cta-icon">

                                            <i class="fal fa-envelope-open"></i>
                                        </div>
                                        <div class="cta-text">
                                           <!-- <h6>Email Us</h6>-->
                                            <span>md@keralastaterutronix.com</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cta-box d-flex align-items-center mb-20">
                                        <div class="cta-icon">
                                            <i class="fal fa-phone"></i>
                                        </div>
                                        <div class="cta-text">
                                            <!--<h6>Phone Us</h6>-->
                                            <span>+91 90 72 151 980</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cta-box d-flex align-items-center mb-20 pb-20">
                                        <div class="cta-icon">
                                            <i class="fal fa-globe"></i>
                                        </div>
                                        <div class="cta-text">
                                            <!--<h6>Phone Us</h6>-->
                                            <span>www.keralastaterutronix.com</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="contact-icon">
                                <a href="https://www.facebook.com/rutronixeduskilling">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com/eduskilling">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UC01J8vMqtyjLCwui8zXv0rQ">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://www.instagram.com/rutronixeduskilling/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="map-area contact-map mb-30">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31566.740456590876!2d76.96312161901854!3d8.514663142291333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05ba337c012965%3A0xaa20298664a116f1!2sJan%20Villa%20Ln%2C%20Althara%20Nagar%2C%20Vellayambalam%2C%20Thiruvananthapuram%2C%20Kerala%20695010%2C%20India!5e0!3m2!1sen!2sus!4v1631351795082!5m2!1sen!2sus"
                                width="600" height="450" frameborder="0" style="border:0;"
                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--cta-area end-->

        <!-- contact-area-start -->
        <div class="contact-area grey-bg pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                        <div class="section-title text-center mb-60">
                           <!-- <span><i class="fal fa-ellipsis-h"></i> Get In Touch <i
                                    class="fal fa-ellipsis-h"></i></span>-->
                            <h2>Get In Touch</h2>
                            <p>We would love to hear from you! Please fill out this form and we will get in touch with you shortly.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="contact-form-area">
                            <form action="#" class="subscribe contact-post-form contact-form">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="input-text">
                                            <input class="form-control" type="text" placeholder="Full Name Here">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-text email-text">
                                            <input class="form-control" type="text" placeholder="Email Here">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-text phone-text">
                                            <input class="form-control" type="text" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-text message-text">
                                            <textarea name="" id="" cols="30" rows="10" placeholder="Write  Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="lg-btn lg-btn-03 text-center">
                                            <a class="c-btn" href="#">send message <i
                                                class="far fa-long-arrow-alt-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact-area-end -->

<!-- footer-area-start -->
        <footer class="footer-area pt-65 pb-45" data-background="{% static 'assets/img/bg/fot-01-bg.png' %}">
            <div class="container">
                <div class="row mb-55 no-gutters align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="footer-logo">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/Logo White.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="footer-social-icon text-right pb-70">
                            <a class="fot-fb active pb-70" href="https://www.facebook.com/rutronixeduskilling"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a class="fot-twitter pb-70" href="https://twitter.com/eduskilling"><i class="fab fa-twitter"></i> Twitter</a>
                            <a class="fot-google pb-70" href="https://www.youtube.com/channel/UC01J8vMqtyjLCwui8zXv0rQ"><i class="fab fa-youtube"></i> Youtube</a>
                            <a class="fot-insta pb-70" href="https://www.instagram.com/rutronixeduskilling/"><i class="fab fa-instagram"></i> Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-8 col-12">
                        <div class="footer-widget mb-30">
                            <h4 class="footer-widget-title mb-25">EDU SKILLING PROGRAMS</h4>
                            <ul class="footer-list">
                                <li><a href="#">Accounting GST</a></li>
                                <li><a href="#">Computer Aided Design</a></li>
                                <li><a href="#">3D Animation & VFX</a></li>
                                <li><a href="#">PGDCA / DCA / DOA</a></li>
                                <li><a href="#">Data Entry Operator</a></li>
                                <li><a href="#">Arch/Building Design</a></li>
                                <li><a href="#">Teachers Training</a></li>
                                <li><a href="#">Hardware and Networking</a></li>
                                <li><a href="#">Graphic & Web Design</a></li>
                                <li><a href="#">Networking Administrator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-4 col-12">
                        <div class="footer-widget widget-center text-center mb-30">
                            <h4 class="footer-widget-title mb-25">THE PROJECT</h4>
                            <ul class="footer-list footer-02-list">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="#">Eduskilling</a></li>
                                <li><a href="#">Courses</a></li>
                                <li><a href="#">Edu Centers</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6 col-12">
                        <div class="footer-widget mb-30">
                            <h4 class="footer-widget-title mb-25">CONNECT US</h4>
                            <p class="mb-25">Please enter your Email ID to receive
								detailed information regarding RUTRONIX
								courses and admission related information, One
								of our academic/career advisors will be
								speaking to you shortly.</p>
                            <form class="slider-search-form">
                                <input type="text" placeholder="Enter Your Email">
                                <button type="submit"><i class="far fa-long-arrow-alt-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="copyright-area mt-15 text-center pt-20 pb-20">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="copyright-text">
                                <p><!--Copyright © 2021 <a href="#">Kerala State Rutronix</a> All Rights Reserved. | --> Powered by<img src="{% static 'assets/img/logo/groware LOGO.svg' %}" style="max-width:85px; height:auto; margin-top:-1px" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->
    </main>


<script type="text/javascript">
	$('#myDiv').floatingWhatsApp({
    phone: '919072645403',
    popupMessage: 'Hello, Welcome to Kerala State Rutronix',
    showPopup: true,
    headerTitle:'KERALA STATE RUTRONIX',
    position:'right'
});
</script>
    <!-- JS here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="assets/js/floating-wpp.min.js"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easypiechart.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>